body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("img/bg2.jpg") no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.form {
  margin: 90px 10% 0 10%;
  padding: 5%;
  background-color: #203040d6 !important;
  border-radius: 0 20% 0 0%;
  box-shadow: -2px 4px 10px 3px #00060c;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formsubmit {
  margin: 90px 10% 0 10%;
  padding: 5%;
  background-color: #203040d6 !important;
  box-shadow: -2px 4px 10px 3px #00060c;
}
.form-control {
  background-color: #011025;
}
.form span {
  float: left;
  color: red;
  padding-bottom: 10px;
}
.form-control:focus {
  color: #ffffff;
  background-color: #1d1d1de6;
  border-color: #02ea295e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(2, 234, 41, 0.34);
}

@media only screen and (max-width: 600px) {
  .form,
  .formsubmit {
    margin: 75px 2% 0 2%;
  }
  .form {
    border-radius: 0;
  }
}
